* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: auto;
  height: 100vh;
  position: relative;
}

.modal {
  display: none;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #c0efcd;
}

.birthday-date {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

h2,
p {
  text-align: center;
  color: cornflowerblue;
}

input {
  padding-left: 10px;
}

label,
input,
select {
  height: 2rem;
  border-radius: 10px;
  border: none;
  background-color: aliceblue;
}

.button-send {
  width: 4rem;
  height: 2rem;
  border-radius: 10px;
  border: none;
  background-color: aliceblue;
}

.count-down-block {
  display: none;
  width: 70%;
  height: auto;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #72c8f3;
  gap: 3rem;
}

.show {
  display: flex;
}
